{% extends "layout.html" %}
{% from "macros.html" import secure_form %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <div class="main-box">
        <div class="main-header">Add Cash</div>
        {% call secure_form("/add_cash") %}
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="amount" placeholder="Amount" type="number" min="1">
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
        {% endcall %}
    </div>
{% endblock %}