{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <div class="main-box">
        <div class="main-header">ADD CASH</div>
            <form action="/add_cash" method="post">
                {{ csrf_token() }}
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="cash" placeholder="Amount" type="number" min="100">
                </div>
                <p class="font-monospace"><strong>Balance - {{ balance | usd }}</strong></p>
                <button class="btn btn-primary" type="submit">ADD</button>
            </form>
    </div>
{% endblock %}
