{% extends "layout.html" %}
{% from "macros.html" import secure_form %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="main-box">
        <div class="main-header">Change Password</div>
        {% call secure_form("/change-password") %}
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="old_password" placeholder="Old Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm New Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Change</button>
        {% endcall %}
    </div>
{% endblock %}