{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2 class="text-center fw-bold py-3 mb-4" id="table_headings">
        DASHBOARD
    </h2>
    <table class="table table-striped table-bordered">
        <thead>
            <th class="col">SYMBOL</th>
            <th class="col rowspan="2"">SHARES OWNED</th>
            <th class="col" rowspan="2">CURRENT PRICE</th>
            <th class="col" rowspan="2">TOTAL HOLDINGS</th>
        </thead>
        <tbody>
            {% for share in context["shares"] %}
            <tr>
                <td>{{ share["symbol"] }}</td>
                <td>{{ share["quantity"] }}</td>
                <td id="price-{{ share['symbol'] }}">Loading...</td>
                <td>{{ share["total_holdings"] | usd }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>CASH</td>
                <td>{{ context["cash"] | usd }}</td>
            </tr>


            <tr>
                <td></td>
                <td></td>
                <td>TOTAL</td>
                <td>{{ context["total"] | usd }}</td>
            </tr>
         </tbody>
    </table>
    <br /> <br />

    <!-- Update current price every 10 seconds with ajax-->
    <script>
        var marketOpen = {{ market_open | tojson }};
        updatePrices("price-", "/lookup");
    </script>


{% endblock %}
