{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    {% if info %}
        <!-- if information is retrieved show it -->
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col">Name</th>
                    <th class="col">Symbol</th>
                    <th class="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ info["name"] }}</td>
                    <td>{{ info["symbol"] }}</td>
                    <td>${{ info["price"] }}</td>
                </tr>
            </tbody>
        </table>
        <br><br>
    {% endif %}

    <div class="main-box">
        <div class="main-header">Search Stock</div>
            <form action="/quote" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Enter Company's Symbol" type="text">
                </div>
                <button class="btn btn-primary" type="submit">SEARCH</button>
                <button class="btn btn-primary ms-1" id="show-search-form" type="button">Search Symbol</button>
            </form>
    </div>
    
    <!-- Hidden search form -->
    <div id="search-form-overlay" style="display: none;">
        <div id="search-form-modal" class="modal-container">
            <form action="/get_symbol" id="search-symbol-form" method="post">
                <div class="input-group gap-3">
                    <input type="hidden" name="source" value="purchase_page">
                    <input type="text" class="form-control" placeholder="Enter Company Name" id="company-name-input" name="company_name">
                    <button class="btn btn-primary" id="company_name_button" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
