{% extends "layout.html" %}
{% block title %}
    Buy
{% endblock %}

{% block main %}
    <div class="main-box">
        <div class="main-header">SELL</div>
            <form action="/sell" method="post">
                {{ csrf_token() }}
                <div class="mb-3">
                    <select class="form-select" name="symbol" id="symbol-input">
                        <option value="" selected disabled>Select a symbol</option>
                        {% for share in shares %}
                        <option value="{{ share['symbol'] }}">{{ share['symbol'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="stock-info" class="mt-2 text-center text-muted"></div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="quantity-input" name="quantity" placeholder="Quantity" type="number" min="1">
                </div>
                <p class="font-monospace"><strong>Balance - {{ balance | usd }}</strong></p>
                <button class="btn btn-primary" type="submit">SELL</button>
            </form>
    </div>

    <!-- When user enters a symbol show him name and price-->
    <script>
        // Call the function with IDs of inputs and display area
        fetchStockInfo("symbol-input", "quantity-input", "stock-info");
    </script>
{% endblock %}
