{% extends "layout.html" %}
{% from "macros.html" import secure_form %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    {% call secure_form("/login") %}
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <a href="{{ url_for('google_login') }}" class="btn btn-primary mt-3">Login with Google</a>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    {% endcall %}
{% endblock %}