{% extends "layout.html" %}
{% from "macros.html" import secure_form %}

{% block title %}
    Buy
{% endblock %}


{% block main %}
    <div class="main-box">
        <div class="main-header">PURCHASE</div>
        {% call secure_form("/company/stock") %}
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol-input" name="symbol" placeholder="Enter Company's Symbol" type="text" value="{{ user_symbol }}">
            </div>
            <div id="stock-info" class="mt-2 text-center text-muted"></div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="quantity-input" name="quantity" placeholder="Quantity" type="number" min="1">
            </div>
            <p class="font-monospace"><strong>Balance - {{ balance | usd }}</strong></p>
            <button class="btn btn-primary" type="submit">BUY</button>
            <button class="btn btn-primary ms-1" id="show-search-form" type="button">Search Symbol</button>
        {% endcall %}
        <!-- Hidden search form -->
        <div id="search-form-overlay" style="display: none;">
            <div id="search-form-modal" class="modal-container">
                {% call secure_form("/get_symbol") %}
                    <div class="input-group gap-3">
                        <input type="hidden" name="source" value="purchase_page">
                        <input type="text" class="form-control" placeholder="Enter Company Name" id="company-name-input" name="company_name">
                        <button class="btn btn-primary" id="company_name_button" type="submit">Search</button>
                    </div>
                {% endcall %}
            </div>
        </div>
    <!-- When user enters a symbol show him name and price-->
    <script>
        // Call the function with IDs of inputs and display area
        fetchStockInfo("symbol-input", "quantity-input", "stock-info");
    </script>
{% endblock %}
