{% extends "layout.html" %}
{% from "macros.html" import secure_form %}

{% block title %}
    Stocks
{% endblock %}

{% block main %}
    <div class="main-box">
        <div class="main-header">Search Stock</div>
        {% call secure_form("/company/stock") %}
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Enter Company's Symbol" type="text" value="{{ symbol }}">
            </div>
            <button class="btn btn-primary" type="submit">SEARCH</button>
            <button class="btn btn-primary ms-1" id="show" type="button">Search Symbol</button>
        {% endcall %}
    </div>
    
    <!-- Hidden search form -->
    <div id="form-overlay" style="display: none;">
        <div id="form-modal" class="modal-container">
            {% call secure_form("/get_symbol") %}
                <div class="input-group gap-3">
                    <input type="hidden" name="source" value="stocks_page">
                    <input type="text" class="form-control" placeholder="Enter Company Name" id="hidden-input" name="company_name">
                    <button class="btn btn-primary" id="company_name_button" type="submit">Search</button>
                </div>
            {% endcall %}
        </div>
    </div>
{% endblock %}
